.demoForm {
  width: 500px;
  margin: auto;
}

.rad {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.type_radio {
  text-align: center;
}

.keyword_arg {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: 40vw;
}

.invalid {
  border: 2px solid red;
}

input {
  outline: none;
}

label {
  margin-top: 2vh;
}

.redactor {
  margin-top: 2vh;
  width: 90vw;
  height: 70vh;
  outline: none;
}

textarea {
  tab-size: 4;
}

.webapp {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.format {
  width: 10vw;
  align-self: center;
}

.btn {
  width: 10vw;
  align-self: center;
}
