.demoForm {
  width: 100%;
  margin: auto;
}

.rad {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.parse_type {
  margin-left: 10%;
  margin-right: 10%;
}
.type_radio {
  text-align: center;
}

.keyword_arg {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: 40vw;
}

.invalid {
  border: 2px solid red;
}

input {
  outline: none;
}

label {
  margin-top: 2vh;
}

.redactor {
  margin-top: 2vh;
  width: 90%;
  height: 70vh;
  margin-left: auto;
  margin-right: auto;
  outline: none;
}

textarea {
  tab-size: 4;
  width: 90vw;
}

.webapp {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.format {
  width: 150px;
  align-self: center;
}

.btn {
  width: 150px;
  align-self: center;
}

.type_radio {
  margin-right: 10px;
  margin-left: 20px;
}
